@media (min-width: 1400px) {
  /* .header-top{
    background-position: 57% center;
  } */
}
@media (min-width: 1200px) {
  .container {
     max-width: 1170px;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  /* .header-top{
    background-position: 54% center;
  } */
}

@media (min-width: 992px) and (max-width: 1199px) {


  /* .header-top{
    background-position: 39% center;
  } */
  .card-content, .com-more{
    padding: 0;
  }
  .client-des{
    padding-left: 20px;
  }
  .client-ellip{
    padding-left: 93px;
  }
  .contain-company, .contain-client{
    padding: 100px 0;
  }
  .about-text-title{
    font-size:30px;
    padding-bottom: 10px;
  }
  .about-text-head{
    padding-bottom: 5px;
  }
  .button-about{
    padding-top: 5px;
  }
  .slick-dots{
    padding-left: 90px;
  }
}


@media (min-width: 768px) and (max-width: 991px) {
  .client-image-person img, .client-img{
    max-width:100%;
  }
  .contain-header{
    align-items: center;
  }
  .slider-des .text-des{
    font-size:38px
  }
  .contain-slider{
    padding-top:200px
  }
  /* .header-top{
    background-position: 30% center;
  } */
  .card-content{
    padding: 0;
  }
  .card-title{
    font-size:20px;
  }
  .client-des{
    padding-left: 0px;
  }
  .client-text-des{
    padding-right: 0;
  }
  .client-ellip{
    padding-left:150px;
  }
  .contain-company, .contain-client{
    padding: 50px 0;
  }
  .info-item-hotline, .info-item-email{
    margin-right: 50px;
  }
  .col-service:first-child{
    padding: 30px 30px 20px 20px;
  }
  .col-service{
    padding: 30px 10px 20px 20px;
  }
  .com-more{
    padding:0;
  }
  .ser-des p{
    font-size:16px;
  }
  .col-nav-foot {
    padding-left: 45px;
  }
  .slider-icon {
    padding-top: 260px;
  }

  .slick-dots{
    padding-left: 118px;
  }
}
@media (max-width:1199px){
  .row-client{
    padding-left: 0;
}
.client-text-des{
  text-align:justify;
}
.about-image-person img{
  width: 100%;
}
}
@media (max-width:991px){

  .col-item-contact:first-child{
    padding: 20px 0;
  }

  .slider-img {
    margin-top: -90px;
  }

  .header-top::before,.ozone-logo::before{
    display: none;
  }

  .contain-slider-fluid{
    min-height:unset;
    padding-bottom: 130px;
  }


  .row-client{
    padding-left: 0;
}
  .about-content{
    padding: 40px 0 20px;
  } 
  .client-icon-vector img{
    width: 40px;
  }
  #ozone-about{
    padding:50px 0;
  }
}
@media (max-width: 767px) {

  /* .header-top{
    background-position: unset;
  } */
  .button-about{
    padding: 5px 0;
  }
  .contain-slider{
    padding-top: 180px;
  }
  .client-ellip{
    padding-left: 38px;
  }
  .info-item-hotline, .info-item-email{
    margin-right: 50px;
  }
  .ozone-nav ul li{
    margin: 0;
  }
  .logo-info{
    justify-content: center;
  }
  .card-title{
    font-size:22px;
  }
  .slider-icon{
    padding-top: 80px;
    display:flex;
    justify-content: space-evenly;
  }
  .slider-des .text-des {
    font-size: 38px;
}
  .client-image-person img, .client-img{
    width:100%;
  }
  .client-text-des{
    padding: 0;
  }
  .list-groupitem img{
    width: 100%;
    height:auto
  }
  .col-nav-foot,.col-signup-foot{
    padding:0;
  }
  #ozone-about,.list-service{
    padding: 20px 10px;
  }
  #ozone-client{
    padding-bottom: 10px;
  }
  .client-des{
    padding-top: 20px;
  }
  .footer-list-title{
    margin-left: 0;
  }
  .row-about-foot{
    padding:10px
  }
  .contain-company, .contain-client{
    padding: 10px 0;
  }
  .col-service:first-child{
    padding: 48px 40px 46px 20px;
  }
  .col-service{
    padding: 48px 20px 46px;
  }
  .card-content, .com-more{
    padding: 0 10px;
  }
  .footer-list-menu{
    padding-left: 19px;
  }
  .container{
    max-width:100%
  }
  .slider-des{
    padding: 0 10px;
  }

  .slick-dots{
    padding-left: 0;
    text-align: center;
  }
}
@media (max-width: 575px){
  .contain-group {
    padding: 0;
  }
  .about-content{
    padding: 40px 0 10px;
  }
  .about-text-title{
    padding-bottom: 20px;
  }
.btn-bar{
  display: block;
}
.ozone-nav ul{
  position:fixed;
  width: 100%;
  min-height:50vh;
  background:#265BC5;
  top: 0;
  left: -100%;
  text-align: center;
  display:block;
  transition: all 0.5s linear;
}
.ozone-nav ul.show{
  left: 0;
}
  .button-slider {
    padding-top: 0px;
  }
  .slider-icon {
    padding-top: 50px;
  }
  .slider-des .text-des {
    font-size: 32px;
}
  .slider-img {
    margin-top: 0px;
}

  .about-img-text{
    right: 20px;
    padding:30px 10px 30px 60px;
  }
  .about-img-text p{
    font-size:18px;
    margin:0;
  }
  .about-icon-vector img{
    width: 60px;
  }
  .about-icon-vector{
    right: 284px;
    bottom: 10px;
  }
  .contain-slider{
    padding-top: 50px;
  }



  .logo-info{
    display:none;
  }
  /* .logo-info{
    display:block;
    padding-top: 0;
  } */
  .info-item-email, .info-item-hotline,
  .info-item-time{
    display:table;
    margin: auto;
    text-align:center;
  }



  .contain-slider-fluid{
    padding-bottom: 80px;
  }
}
@media (max-width: 375px){
  .about-img-text p{
    font-size:18px;
    margin:0;
  }
  .slider-des .text-des{
    font-size:32px;
  }
  .about-icon-vector{
    left: 2vw;
    bottom: 3vw;
  }
}