@media (min-width: 1400px) {
  
}
@media (min-width: 1200px) {
  .container {
     max-width: 1170px;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
    
}

@media (min-width: 992px) and (max-width: 1199px) {
  .about-icon-vector{
    left:87px;
  }
  .card-content, .com-more{
    padding: 0;
  }
  /* .client-img-text{
    right: 10px;
  } */
  .client-des{
    padding-left: 20px;
  }
  .client-ellip{
    padding-left: 93px;
  }
  .contain-company, .contain-client{
    padding: 100px 0;
  }
}


@media (min-width: 768px) and (max-width: 991px) {
  .about-icon-vector{
    left:327px;
  }
  .card-content{
    padding: 0;
  }
  .card-title{
    font-size:20px;
  }
  .client-des{
    padding-left: 80px;
  }
  .client-text-des{
    padding-right: 0;
  }
  .client-ellip{
    padding-left:150px;
  }
  .contain-company, .contain-client{
    padding: 50px 0;
  }
  /* .client-img-text{
    right: 10px;
  } */
  .info-item-hotline, .info-item-email{
    margin-right: 50px;
  }
  .col-service-1{
    padding: 30px 30px 20px 20px;
  }
  .col-service-2, .col-service-3, .col-service-4{
    padding: 30px 10px 20px 20px;
  }
  .com-more{
    padding:0;
  }
  .ser-des p{
    font-size:16px;
  }
}
/* @media (min-width: 375px){
  .container{
    max-width:375px;
  }
} */
@media (max-width:1199px){
  .row-client{
    padding-left: 0;
}
.client-text-des{
  text-align:justify;
}
}
@media (max-width:991px){
  .row-client{
    padding-left: 0;
}
  .about-content{
    padding: 30px 0;
  } 
  .client-icon-vector img{
    width: 40px;
  }
  .ozone-about{
    padding:50px 0;
  }
}
@media (max-width: 767px) {
  .client-ellip{
    padding-left: 38px;
  }
  .about-icon-vector{
    left:147px;
  }
  .info-item-hotline, .info-item-email{
    margin-right: 50px;
  }
  .ozone-nav, .logo-info{
    display:none;
  }
  .card-title{
    font-size:22px;
  }
  .slider-icon{
    padding-top: 60px;
    display:flex;
    justify-content: space-evenly;
  }
  .slider-des .text-des{
    font-size:36px;
  }
  .client-img img, .client-img{
    width:100%;
  }
  .client-text-des{
    padding: 0;
  }
  .list-groupitem img{
    width: 100%;
    height:auto
  }
  .col-nav-foot,.col-signup-foot{
    padding:0;
  }
  .ozone-about,.list-service{
    padding: 20px 10px;
  }
  .ozone-client{
    padding-bottom: 10px;
  }
  .client-des{
    padding-top: 20px;
  }
  .footer-list-title{
    margin-left: 0;
  }
  .row-about-foot{
    padding:10px
  }
  .contain-company, .contain-client{
    padding: 10px 0;
  }
  .col-service-1{
    padding: 48px 40px 46px 20px;
  }
  .col-service-2, .col-service-3, .col-service-4{
    padding: 48px 20px 46px;
  }
  .card-content, .com-more{
    padding: 0 10px;
  }
  .footer-list-menu{
    padding-left: 20px;
  }
}
@media (max-width: 575px){
  .slider-des{
    padding: 0 10px;
  }
  .about-img-text{
    bottom:-20px;
    right: 0;
    padding:40px;
  }
  .about-img-text p{
    font-size:18px;
    margin:0;
  }
  .about-icon-vector img{
    width: 40px;
  }
  .about-icon-vector{
    left:30px;
    bottom: 20px;
    display:none;
  }
  .contain-slider{
    padding-top: 200px;
  }
}
@media (max-width: 375px){
  .about-img-text p{
    font-size:18px;
    margin:0;
  }
  .about-img-text{
    bottom:-30px;
    right: 0;
    padding:30px 40px;
  }
  .slider-des .text-des{
    font-size:32px;
  }
}