@media (min-width: 1400px) {
  /* .header-top{
    background-position: 57% center;
  } */
}
@media (min-width: 1200px) {
  .container {
     max-width: 1170px;
  }
}
@media (min-width: 1023px) {
  .group-button div:hover{
    cursor: pointer; 
  }
  .group-button a:hover::after{
    left:100%;   
  }
  .group-button a:hover{
    background:#000;
    color: #fff;
    cursor: pointer; 
  }
  .info-item-hotline:hover,
  .info-item-email:hover,
  .info-item-time:hover{
    cursor: pointer;
    opacity: 0.8;
    transition: 0.5s;
  }
  .ozone-nav ul li:hover::before {
    color: #FFFF;
    transform: scale(1);  
  }
  .slider-icon i:hover{
    color: #265BC5;  
  }
  .col-service:hover{
    background-color: #265BC5;
    cursor: pointer;
    color: #fff;
  }
  .col-service:nth-child(2):hover .icon-first{
    filter: none;
  }
  .col-service:hover .icon-first {
    filter: grayscale(100%) brightness(110%) contrast(3) invert(100%);
  }
  .col-service:hover .ser-des p{
    color: #fff;  
  }
  .company-card:hover{
    box-shadow: 0px 0px 30px rgba(103, 92, 92, 0.25);
    cursor: pointer;
  }
  .company-image img:hover{
    transform: scale(1.25); 
  }
  .client-image-person img:hover{
    transform: scale(1.2);
    cursor: pointer;  
  }
  .about-image-person img:hover{
    cursor: pointer;
    transform: scale(1.1);
  }
  .list-groupitem img:hover{
    opacity: 0.8;
    cursor: pointer; 
  }
  .col-item-contact p:hover,
  .col-item-contact a:hover{
    /* opacity: 0.8; */
    color: #ccc;
    cursor: pointer; 
  }
  .footer-list-menu li a:hover{
    color: rgb(0, 195, 255);
    transition: 0.5s; 
  }
  .input-group a:hover{
    background-color: #000;
    color: #fff;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  /* .header-top{
    background-position: 54% center;
  } */
}

@media (min-width: 992px) and (max-width: 1199px) {


  /* .header-top{
    background-position: 39% center;
  } */

  .client-des{
    padding-left: 20px;
  }
  .client-ellip{
    padding-left: 93px;
  }
  .contain-company, .contain-client{
    padding: 100px 0;
  }
  .button-about{
    padding-top: 5px;
  }
  .slick-dots{
    padding-left: 15px;
  }
}


@media (min-width: 768px) and (max-width: 991px) {
  .icon-ser div:last-child img{
    width: 80%;
  }
  .contain-group{
    padding: 0 0 10px;
  }
  .list-groupitem{
    justify-content:space-evenly;
  }
  .list-groupitem img{
    width: 100%;
  }
  .col-item-contact{
    padding: 20px 0 10px;
  }
  .col-item-contact:first-child p{
    font-size:36px;
  }
  .client-image-person img, .client-img{
    max-width:100%;
  }
  .contain-header{
    align-items: center;
  }
  .slider-des .text-des{
    font-size:35px
  }
  .contain-slider{
    padding-top:140px
  }
  /* .header-top{
    background-position: 30% center;
  } */
  .client-des{
    padding-left: 0px;
  }
  .client-text-des{
    padding-right: 0;
  }
  .client-ellip{
    padding-left:150px;
  }
  .contain-company, .contain-client{
    padding: 50px 0;
  }
  .info-item-hotline, .info-item-email{
    margin-right: 50px;
  }
  .col-service:first-child{
    padding: 30px 30px 20px 20px;
  }
  .col-service{
    padding: 30px 10px 20px 20px;
  }
  .com-more{
    padding:0;
  }
  .ser-des p{
    font-size:16px;
  }
  .col-nav-foot {
    padding-left: 45px;
  }
  .slider-icon {
    padding-top: 260px;
  }

  .slick-dots{
    padding-left: 125px;
  }
}
@media (max-width:1199px){
  .card-content, .com-more{
    padding: 0 10px;
  }
  .card-title {
    font-size:20px;
  }
  .row-client{
    padding-left: 0;
}
.client-text-des{
  text-align:justify;
}
.about-image-person img{
  width: 100%;
}
}
@media (max-width:991px){
  .button-about .group-button{
    margin: auto;
  }
  .about-text-head{
    padding-bottom: 5px;
    text-align:center;
  }
  .about-text-head,.company-title p,.client-title p{
    letter-spacing: 0.15em;
  }
  .about-content{
    text-align: justify;
  }
  .col-about-foot img{
    width: 140px;
  }
  .col-item-contact img{
    width: 50px;
  }
  .about-text-title{
    font-size:32px;
    padding-bottom: 15px;
    text-align:center;
  }
  .col-item-contact:first-child{
    padding: 20px 0 0;
  }

  .slider-img {
    margin-top: -90px;
  }

  .header-top::before,.ozone-logo::before{
    display: none;
  }

  .contain-slider-fluid{
    min-height:unset;
    padding-bottom: 100px;
  }


  .row-client{
    padding-left: 0;
}
  .about-content{
    padding: 55px 0 0;;
  } 
  .client-icon-vector img{
    width: 30px;
  }
  #ozone-about{
    padding:50px 0;
  }
  .button-about{
    padding-top: 10px;
  }
  .group-button{
    margin-top:0;
  }
}
@media (max-width: 767px) {

  .col-service:nth-child(3){
    border-bottom: 1px solid #265BC5;
  }
  .contain-slider-fluid{
    padding-bottom: 70px;
  }
  /* .header-top{
    background-position: unset;
  } */
  .col-item-contact div{
    padding-bottom: 10px;
  }
  .col-item-contact:first-child p{
    font-size:35px;
  }
  .col-item-contact{
    padding: 10px 0;
  }
  .footer-signup-title{
    margin-bottom: 0;
  }
  .footer-list-title{
    margin-bottom:5px;
  }
  .col-about-foot img{
    width: 150px;
  }
  .group-button{
    margin-top: 10px;
  }
  .map-img iframe{
    height: 190px;
  }
  .button-about{
    padding: 5px 0;
  }
  .contain-slider{
    padding-top: 140px;
  }
  .client-ellip{
    padding-left: 38px;
  }
  .info-item-hotline, .info-item-email{
    margin-right: 50px;
  }
  .ozone-nav ul li{
    margin: 0;
  }
  .logo-info{
    justify-content: center;
  }
  .button-slider{
    padding-top: 10px;
  }
  .slider-icon{
    padding-top: 40px;
    display:flex;
    justify-content: space-evenly;
  }
  .slider-des .text-des {
    font-size: 32px;
}
  .client-image-person img, .client-img{
    width:100%;
  }
  .client-text-des{
    padding: 0;
  }
  .list-groupitem .col-6{
    text-align:center;
  }
  .list-groupitem img{
    max-width: 100%;
  }
  .col-nav-foot,.col-signup-foot{
    padding:0;
  }
  #ozone-about{
    padding: 40px 10px;
  }
  .list-service{
    padding: 40px 10px;
  }
  #ozone-client{
    padding-bottom: 10px;
  }
  .client-des{
    padding-top: 20px;
  }
  .footer-list-title{
    margin-left: 0;
  }
  .row-about-foot{
    padding:25px 10px 0;
  }
  .contain-company, .contain-client{
    padding: 40px 0;
  }
  .col-service:first-child{
    padding: 48px 40px 46px 20px;
  }
  .col-service{
    padding: 48px 20px 46px;
  }
  .footer-list-menu{
    padding-left: 0px;
    margin-left: 0;
  }
  /* .container{
    max-width:100%
  } */
  .slider-des{
    padding: 0 10px;
  }
  .text-about-title{
    padding-top: 10px;
  }
  .slick-dots{
    padding: 0;
    text-align: center;
  }
}
@media (max-width: 575px){
  /*  */
  .ozone-logo{
    text-align:left;
    padding:5px;
  }
  .ozone-logo img{
    width: 90px;
  }
  .ozone-logo p{
    display:none;
  }
  .ozone-header{
    position: fixed !important;
    width: 100%;
    background-color: #fff;
    z-index: 999;
  }
  #ozone-slider{
    padding-top: 130px;
  }
  .slider-img{
    margin-top:-65px;
  }
  .button-about .group-button{
    margin-top:0;
  }
  /*  */
  .ozone-nav ul li::before{
    transform: unset;
    height:1px;
  }
  .ozone-nav ul li:hover {
    background-color:red;
  }
  .ozone-nav ul li{
    border-bottom: unset;
    transition: all 0.5s;
  }
  .ozone-nav ul{
    position:fixed;
    width: 100%;
    min-height:100vh;
    background:#000;
    top: 0;
    left: -100%;
    text-align: center;
    display:block;
    transition: all 0.5s linear;
  }
  .ozone-nav ul.show{
    left: 0;
  }
  /*  */
  .col-item-contact, .col-item-contact:first-child{
    padding:0 10px;
    display:flex;
    align-items: center;
  }
  .col-item-contact:first-child{
    justify-content:center;
  }
  .col-item-contact:first-child p{
    font-size: 25px;
    padding-left: 0;
    margin: 0 0 5px 0;
  }
  .contain-contact{
    padding: 25px 0 20px;
  }
  .col-item-contact a{
    margin:0;
    padding-left: 10px;
    text-align: left;
  }
  .col-item-contact img{
    width: 35px;
  }
  .col-item-contact div{
    padding-bottom: 10px;
  }

/*  */
  .col-about-foot{
    text-align:center;
  }
  .col-about-foot img{
    width: 100px;
  }
  .col-about-foot p{
    margin: 0 0 10px;
    font-size:15px;
  }
  .footer-list-menu{
    margin-bottom:10px;
    display:flex;
    flex-wrap: wrap;
  }
  .company-title p,.client-title p{
    margin-bottom: 5px;
  } 
  .about-text-head{
    padding-bottom: 10px;
    letter-spacing: 0.15em;
  }
  .contain-group {
    padding: 0 0 20px;
  }
  .about-content{
    text-align:justify;
  }
  .about-text-title{
    padding-bottom: 10px;
    font-size: 28px;
  }
.btn-bar,.btn-phone,.btn-mail{
  display: block;
}
  .button-slider {
    padding-top: 5px;
  }
  .slider-icon {
    padding-top: 40px;
  }
  .slider-des .text-des {
    font-size: 25px;
  }
  .group-button a{
    padding: 14px 45px;
    font-size: 15px;
    line-height: 1.4;
  }
  .about-img-text{
    right: 20px;
    padding:30px 10px 30px 60px;
  }
  .about-img-text p{
    font-size:18px;
    margin:0;
  }
  .about-icon-vector img{
    width: 60px;
  }
  .about-icon-vector{
    right: 284px;
    bottom: 10px;
  }
  .contain-slider{
    padding-top: 45px;
  }
  .logo-info{
    display:none;
  }
  /* .logo-info{
    display:block;
    padding-top: 0;
  } */
  .info-item-email, .info-item-hotline,
  .info-item-time{
    display:table;
    margin: auto;
    text-align:center;
  }
  .contain-slider-fluid{
    padding-bottom: 70px;
  }
  .slider-content{
    text-align:justify;
  }
  .footer-list-title, .footer-signup-title{
    font-size: 18px;
    margin-bottom: 0;
  }
  .footer-signup-title{
    margin-bottom: 10px;
  }
}
@media (max-width: 375px){
  .about-img-text p{
    font-size:18px;
    margin:0;
  }
  .about-icon-vector{
    left: 2vw;
    bottom: 3vw;
  }
}