.container-fluid{
    padding: 0;
}
.container{
    /* max-width: 1170px; */
    padding:0;
    /* margin: 0 374px; */
}
.group-button a{
    text-decoration:none;
    background-color:#EE1F23;
    color:#fff;
    padding: 14px 51px;
    font-size: 16px;
    line-height:1.2;
    transition: ease-out 0.5s;
    position: relative;
    overflow-x: hidden;
}
.group-button {
    margin-top: 20px;
    width: 227px;
    height: 48px;
    display: flex;
}
.group-button div{
    background-color: #f8f8f8;
    padding: 12px 16px;
    font-size: 16px;

}
.group-button a::after{
    content: '';
    position:absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height:100%;
    background: linear-gradient(90deg, transparent, rgba(255,255,255,.4), transparent);
    transition: 0.5s;
}
.group-button a:hover::after{
    left:100%;
}
.group-button a:hover{
    background:#000;
    color: #fff;
    cursor: pointer;
}
/* Ozone Header */
.header-top{
    /* background-image: url(../img/bg-logo.png);
    background-size: cover;
    background-position: 65% center; */
    position: relative;
}
.header-top::before{
    content: '';
    width: calc((100% - 1170px)/2);
    height: 100%;
    background:#fff;
    left:0;
    position: absolute;
}
.ozone-header{
    z-index: 1;
}
.ozone-logo{
    padding: 10px 0 1px;
    position: relative;
    text-align: center;
}

.ozone-logo::before{
    content: '';
    width: 250%;
    height: 400px;
    background:#fff;
    left:-25px;
    bottom: 0;
    position: absolute;
    transform: skewX(-55deg);
    z-index: -1;
}


.ozone-logo p{
    font-family: OpenSans;
    font-weight: bold;
    font-size:13px;
    color:#2C4985;
    letter-spacing: 0.5px;
}
.logo-info{
    /* padding: 0 375px 0 0; */
    display: flex;
    padding-top: 20px;
}
.logo-info p{
    font-size: 14px;
    font-weight: 500;
    color:#2C4985;
}
.info-item-hotline, .info-item-email{
    /* display:table; */
    margin-right: 100px;

}
.info-item-hotline a, .info-item-email a{
    text-decoration:none;
}
.info-item-hotline:hover,
.info-item-email:hover,
.info-item-time:hover{
    cursor: pointer;
    opacity: 0.8;
    transition: 0.5s;
}
.info-item-email p:first-child,
.info-item-hotline p:first-child,
.info-item-time p:first-child{
    font-weight: 500;
}
.info-item-email p:last-child,
.info-item-hotline p:last-child,
.info-item-time p:last-child{
    color:#EE1F23;
    font-weight:bold;
}
.logo-info .info-item-hotline::before{
    position: absolute;
    content:"";
    background-image: url("../img/icon-1.png");
    background-repeat: no-repeat;
    top:25%;
    transform: translateY(-50%);
    width: 30px;
    height:30px;
    right: calc((100% + 5px))
}
.logo-info .info-item-email::before{
    position: absolute;
    content:"";
    background-image: url("../img/icon-2.png");
    background-repeat: no-repeat;
    top:25%;
    transform: translateY(-50%);
    width: 30px;
    height:30px;
    right: calc((100% + 5px))
}
.logo-info .info-item-time::before{
    position: absolute;
    content:"";
    background-image: url("../img/icon-3.png");
    background-repeat: no-repeat;
    top:25%;
    transform: translateY(-50%);
    width: 30px;
    height:30px;
    right: calc((100% + 5px))
}
/* .logo-info .icon-info{
    top:10px;
    left:70px;
} */
/* .logo-info .info-item{
    position: relative;
    display:table;
}
.info-item::before{
    position: absolute;
    content: "";
    background-color: green;
    top:50%;
    transform: translateY(-50%);
} */

.ozone-nav{
    /* background-image: url(/Web_Ozone/img/slider-ozone.jpg); */
    border-bottom: 1px solid #E0E0E0;
}
.ozone-nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}
.ozone-nav ul li {
    padding: 25px 0;
    margin: 0 10px 0 30px;
}
/* .ozone-nav ul li:first-child{
    border-bottom: 2px solid #E0E0E0;
} */
/* .ozone-nav ul li:hover{
    border-bottom: 2px solid #E0E0E0;
} */
.ozone-nav ul li::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #FFFF;
    color: #FFFF;
    transform: scale(0);
    transition: 0.5s linear;
}
.ozone-nav ul li:hover::before {
    color: #FFFF;
    transform: scale(1);
}
.ozone-nav ul li{
    border-bottom: 2px solid transparent;
    position: relative;
}
.ozone-nav ul li a{
    text-decoration: none;
    color: #f8f8f8;
    font-weight: 500;
    font-size:14px;
    padding: 0 20px;
}
/* Onzone Slider */
.slider-img{
    margin-top:-131px;
}
.slider-img > img{
    min-height: 886px;
}
.slider-des .text-des{
    font-size:46px;
    color: #f8f8f8;
    font-weight: bold;
    margin-bottom: 24px;
}
.slider-des .text-des:nth-child(2){
    font-size:16px;
    font-weight:unset;
}
.contain-slider-fluid{
    background-image:url(../img/slider-ozone.jpg);
    min-height:886px;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
.contain-slider{
    padding-top: 260px;
}
.slider-icon{
    padding-top: 225px;
    display:grid;
    font-size: 24px;
}
.slider-icon i:hover{
    color: #265BC5;
}
.slider-icon i{
    color: #f8f8f8;
    transition: 0.3s;
}
.slider-img > img{
    max-width:100%;
    object-fit: cover;
}
.button-slider{
    padding-top: 35px;
}
/* Ozone About */
#ozone-about{
    padding:110px 0;
}
.about-content{
    padding: 0 50px;
}
.about-icon-vector{
    bottom: 20px;
    right: 295px;
    z-index: 1;
}
.about-img-text{
    background:#265BC5;
    color: #f8f8f8;
    max-width: 327px;
    padding: 43px 18px 33px 68px ;
    bottom: -30px;
    right: 30px;
}
.about-img-text p{
    font-size: 20px;
    font-weight: bold;
    line-height: 1.4;
}
.row-about-foot{
    padding: 42px 0;
}
.button-about{
    padding-top: 50px;
}
.about-text-head{
    font-size:14px;
    color:#EE1F23;
    letter-spacing: 0.3em;
    margin:0;
    padding-bottom: 14px;
}
.about-text-title{
    font-weight: bold;
    font-size: 42px;
    padding-bottom: 30px;
    margin:0;
    line-height: 1;
}
.about-image-person img {
    width: 601px;
}
/* Ozone Service */
.list-service{
    padding:120px 0px;
}
.icon-ser{
    display:flex;
    justify-content:space-between;
}
.col-service{
    background:#f8f8f8;
}
.col-service:first-child{
    padding: 48px 48px 46px 52px;
}
.col-service:nth-child(2){
    background-color: #265BC5;
    color: #fff;
}
.col-service:nth-child(2) p{
    color:#fff;
}
.col-service{
    padding: 48px 28px 46px 52px;
}
.col-service:hover{
    background-color: #265BC5;
    cursor: pointer;
    color: #fff;
    transition: 0.7s;

}
.col-service:nth-child(2):hover .icon-first{
    filter: none;
}
.col-service:hover .icon-first {
    filter: grayscale(100%) brightness(110%) contrast(3) invert(100%);
}
.col-service:hover .ser-des p{
    color: #fff;
}
.ser-des p{
    padding-left:12px;
    color:#265BC5;
    font-size: 18px;
    font-weight: bold;
}
/* Ozone Company */
.company-title p{
    font-size:14px;
    color:#EE1F23;
    letter-spacing: 0.3em;
}
.company-time{
    margin-left: 24px;
    position: relative;
    display: table;
}
.company-time p{
    margin:0
}
.company-time:before{
    position: absolute;
    content:"";
    background-image: url("../img/icon-com1.png");
    top:50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    right: calc((100% + 5px))
}
.company-viewmore{
    margin-right: 24px;
    position: relative;
    display: table;
}
.company-viewmore p{
    margin:0
}
.company-viewmore::after{
    position: absolute;
    content:"";
    background-image: url("../img/icon-com2.png");
    top:50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    left: calc((100% + 5px))
}
.company-card{
    transition: 0.6s;
}
.company-card:hover{
    box-shadow: 0px 0px 30px rgba(103, 92, 92, 0.25);
    cursor: pointer;
    transform:scale(1.02);
}
.card-content, .com-more{
    padding: 0 27px;
}
.card-title{
    font-size:22px;
    font-weight: bold;
}
.card-des{
    font-size: 14px;
}
.button-company .group-button{
    margin:auto;
}
/* Ozone Client */
.contain-client{
    overflow-x: hidden;
}
.client-title p{
    font-size:14px;
    color:#EE1F23;
    letter-spacing: 0.3em;
}
.client-img-text{
    background:#265BC5;
    color: #f8f8f8;
    max-width: 205px;
    padding: 8px 28px 13px 15px;
    bottom: -20px;
    right: 20px;
}
.client-image-person img, .client-img{
    width: 302px;
}
.client-image-person{
    overflow: hidden;
}
.client-image-person img{
    transition: 1.5s
}
.client-image-person img:hover{
    transform: scale(1.2);
    cursor: pointer;

}
.client-img-text .client-text-name{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}
.client-img-text .client-text-add{
    font-size: 12px;
    margin: 0;
}
.client-text-des{
    padding-right: 70px;
}
.client-ellip{
    padding-left: 75px;
    padding-top: 50px;
    align-items: center;
}
.ellip-borde img{
    width: 100%;
}
.client-ellip .icon-ellip-child{
    margin-left: 10px;
    margin-top: 4px;
}
.ellip-border .icon-ellip{
    top: 9px;
    left: 3px;
}
.contain-company, .contain-client{
    padding: 100px 0;
}
.row-client{
    padding-left: 73px;
}
.about-image-person{
    overflow: hidden;
}
.about-image-person img{
    transition:0.7s;
}
.about-image-person img:hover{
    cursor: pointer;
    transform: scale(1.1);
}
/* Ozone Group */
.list-groupitem{
    display:flex;
}
.list-groupitem img{
    width: 203px;
    transition: 0.5s
}
.list-groupitem img:hover{
    opacity: 0.8;
    cursor: pointer;
}
.contain-group{
    padding: 0 0 27px;
}
/* Ozone Contact */
#ozone-contact{
    /* background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../img/service-bg.jpg); */
    background-image:url(../img/service-bg.jpg) ;
    background-size:cover;
    background-position: bottom;
}
.contain-contact-fluid{
    background-color: #265BC5;
    opacity: 0.9;
}
.col-item-contact div{
    font-size: 30px;
    padding-bottom: 20px;
}
.col-item-contact:first-child{
    padding: 50px 0;
}
.col-item-contact:first-child p{
    font-size:42px; 
    font-weight:bold;
}
.col-item-contact p{
    font-size:14px;
    font-weight:500;
}
.col-item-contact{
    padding:20px 0;
    transition: 0.5s
}
.col-item-contact:hover{
    /* opacity: 0.8; */
    color: #ccc;
    cursor: pointer;
}
/* Ozone Footer */
.footer-list-menu{
    list-style-type: none;
    padding: 0;
    margin-left: 12px;
}
.footer-list-menu img{
    width: 6px;
    margin-right: 8px;
}
.footer-list-menu li::marker{
    color: #EE1F23;
}
.footer-list-menu li{
    font-size: 14px;
    font-weight: 500;
    padding-right: 12px;
}
.footer-list-menu li a{
    text-decoration: none;
    font-size: 14px;
    color:#505050;
}
.footer-list-menu li a:hover{
    color: rgb(0, 195, 255);
    transition: 0.5s
}
.text-about-title{
    padding-top:25px;
}
.footer-map-title{
    top:7px;
    left:0;
}
.footer-list-title,.footer-signup-title{
    font-size:20px;
    color: #265BC5;
    font-weight: bold; 
}
.footer-list-title{
    margin-left: 12px;
}
.footer-icon{
    padding: 20px 0;
}
.col-about-foot{
    padding-right: 20px;
}
.col-about-foot img{
    width:160px;
}
.col-about-foot .text-about-title{
    color: #303030;
    font-weight: bold; 
}
.col-about-foot p{
    font-size:16px;
}
.col-nav-foot{
    padding-left: 80px;
}
.input-group a{
    text-decoration:none;
    background-color:#EE1F23;
    color:#fff;
    font-size:20px;
    padding: 14px 18px;
    line-height:1;
}
.input-group .form-control{
    border-radius: unset;
}
.form-control:focus{
    box-shadow: none;
}
.map-img iframe{
    width: 100%;
    height: 150px;
}
/* Slick Slider */
.slick-dots{
    text-align:center;
    bottom: -50px;
    padding-right: 65px;
}
.slick-dots li{
    margin:0;
}
.slick-dots li button:before{
    width: 16px;
    height: 16px;
    line-height: 16px;
}
.slick-dots li.slick-active button:before{
    opacity: 1;
    color: #EE1F23;
    border: 0.5px solid #265BC5;
    border-radius: 50%;
    font-size: 10px;
}


.slick-initialized .slick-slide{
    display:flex;
}
.slick-list{
    overflow:unset;
}
/* Menu Bar */
.btn-phone{
    margin-right: 170px;
}
.btn-mail{
    margin-right: 120px;
}
.btn-phone, .btn-mail{
    position: absolute;
    z-index: 2;
    font-size:30px;
    right:0;
    line-height:70px;
    display: none;
    color: #265BC5;
}
.btn-bar{
    position:absolute;
    right: 10px;
    display: none;
    width: 40px;
    height: 40px;
    transition: all .5s ease-in-out;
    z-index: 2;
}
.menu-btn_burger{
    position: relative;
    margin-top: 32px;
    width: 32px;
    height: 5px;
    background:#265BC5;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.menu-btn_burger::before,
.menu-btn_burger::after{
    position: absolute;
    content: '';
    width: 32px;
    height: 5px;
    background:#265BC5;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.menu-btn_burger::before{
    transform:translateY(-10px);
}
.menu-btn_burger::after{
    transform:translateY(10px);
}
/* animate btn_burger */
.btn-bar.open .menu-btn_burger{
    transform: translateX(-50%);
    background:transparent;
}
.btn-bar.open .menu-btn_burger::before{
    transform: rotate(45deg) translate(15px, -15px);
    background:#EE1F23;
}
.btn-bar.open .menu-btn_burger::after{
    transform: rotate(-45deg) translate(15px, 15px);
    background:#EE1F23;
}




