body{
    max-width:1920px;
}
.container-fluid{
    padding: 0;
}
.container{
    /* max-width: 1170px; */
    padding:0;
    /* margin: 0 374px; */
}
/* Ozone Header */
.ozone-header{
    z-index: 1;
}
.ozone-logo{
    padding: 10px 0 1px;
}
.ozone-logo p{
    font-family: OpenSans;
    font-weight: bold;
    font-size:13px;
    color:#2C4985;
    letter-spacing: 0.5px;
}
.logo-info{
    /* padding: 0 375px 0 0; */
    display: flex;
    padding-top: 20px;
}
.logo-info p{
    font-size: 14px;
    font-weight: 500;
    color:#2C4985;
}
.info-item-hotline, .info-item-email{
    /* display:table; */
    margin-right: 100px;

}
.logo-info .info-item-hotline::before{
    position: absolute;
    content:"";
    background-image: url("../img/icon-1.png");
    background-repeat: no-repeat;
    top:25%;
    transform: translateY(-50%);
    width: 30px;
    height:30px;
    right: calc((100% + 5px))
}
.logo-info .info-item-email::before{
    position: absolute;
    content:"";
    background-image: url("../img/icon-2.png");
    background-repeat: no-repeat;
    top:25%;
    transform: translateY(-50%);
    width: 30px;
    height:30px;
    right: calc((100% + 5px))
}
.logo-info .info-item-time::before{
    position: absolute;
    content:"";
    background-image: url("../img/icon-3.png");
    background-repeat: no-repeat;
    top:25%;
    transform: translateY(-50%);
    width: 30px;
    height:30px;
    right: calc((100% + 5px))
}
/* .logo-info .icon-info{
    top:10px;
    left:70px;
} */
/* .logo-info .info-item{
    position: relative;
    display:table;
}
.info-item::before{
    position: absolute;
    content: "";
    background-color: green;
    top:50%;
    transform: translateY(-50%);
} */

.ozone-nav{
    /* background-image: url(/Web_Ozone/img/slider-ozone.jpg); */
    border-bottom: 1px solid #E0E0E0;
}
.ozone-nav ul li {
    padding: 28px 0;
    margin: 0 10px 0 30px;
}
/* .ozone-nav ul li:first-child{
    border-bottom: 2px solid #E0E0E0;
} */
/* .ozone-nav ul li:hover{
    border-bottom: 2px solid #E0E0E0;
} */
.ozone-nav ul li::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #FFFF;
    color: #FFFF;
    transform: scale(0);
    transition: 0.5s linear;
}
.ozone-nav ul li:hover::before {
    color: #FFFF;
    transform: scale(1);
}
.ozone-nav ul li{
    border-bottom: 2px solid transparent;
    position: relative;
}
.ozone-nav ul li a{
    text-decoration: none;
    color: #f8f8f8;
    font-weight: 500;
    font-size:14px;
    padding: 0 20px;
}
/* Onzone Slider */
.slider-img{
    margin-top:-141px;
}
.slider-img > img{
    min-height: 886px;
}
.slider-des .text-des{
    font-size:46px;
    color: #f8f8f8;
    font-weight: bold;
    margin-bottom: 24px;
}
.slider-des .text-des:nth-child(2){
    font-size:16px;
    font-weight:unset;
}
.contain-slider-fluid{
    background-image:url(../img/slider-ozone.jpg);
    min-height:886px;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
.contain-slider{
    padding-top: 260px;
}
.slider-icon{
    padding-top: 225px;
    display:grid;
    font-size: 24px;
}
.slider-icon i{
    color: #f8f8f8;
}
.slider-img > img{
    max-width:100%;
    object-fit: cover;
}
.button-slider{
    padding-top: 35px;
}
/* Ozone About */
.ozone-about{
    padding:110px 0;
}
.about-content{
    padding: 0 50px;
}
.about-icon-vector{
    bottom: 20px;
    right: 295px;
    z-index: 1;
}
.about-img-text{
    background:#265BC5;
    color: #f8f8f8;
    max-width: 327px;
    padding: 43px 18px 33px 68px ;
    bottom: -30px;
    right: 30px;
}
.about-img-text p{
    font-size: 20px;
    font-weight: bold;
    line-height: 1.4;
}
.row-about-foot{
    padding: 42px 0;
}
.button-about{
    padding-top: 50px;
}
.about-text-head{
    font-size:14px;
    color:#EE1F23;
    letter-spacing: 0.3em;
    margin:0;
    padding-bottom: 14px;
}
.about-text-title{
    font-weight: bold;
    font-size: 42px;
    padding-bottom: 30px;
    margin:0;
    line-height: 1;
}
.about-image-person img {
    width: 601px;
}
/* Ozone Service */
.list-service{
    padding:120px 0px;
}
.icon-ser{
    display:flex;
    justify-content:space-between;
}
.col-service-1,.col-service-3,
.col-service-4{
    background:#f8f8f8;
}
.col-service-1{
    padding: 48px 48px 46px 52px;
}
.col-service-2{
    background:#265BC5;
    color: #f8f8f8;
}
.col-service-2,.col-service-3,
.col-service-4{
    padding: 48px 28px 46px 52px;
}
.ser-des p{
    padding-left:12px;
    color:#265BC5;
    font-size: 18px;
    font-weight: bold;
}
/* Ozone Company */
.company-time{
    margin-left: 24px;
    position: relative;
    display: table;
}
.company-time p{
    margin:0
}
.company-time:before{
    position: absolute;
    content:"";
    background-image: url("../img/icon-com1.png");
    top:50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    right: calc((100% + 5px))
}
.company-viewmore{
    margin-right: 24px;
    position: relative;
    display: table;
}
.company-viewmore p{
    margin:0
}
.company-viewmore::after{
    position: absolute;
    content:"";
    background-image: url("../img/icon-com2.png");
    top:50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    left: calc((100% + 5px))
}
.company-card{
    transition: 0.6s;
}
.company-card:hover{
    box-shadow: 0px 0px 30px rgba(103, 92, 92, 0.25);
    cursor: pointer;
    transform:scale(1.02);
}
.card-content, .com-more{
    padding: 0 27px;
}
.card-title{
    font-size:22px;
    font-weight: bold;
}
.card-des{
    font-size: 14px;
}
.button-company .group-button{
    margin:auto;
}
/* Ozone Client */
.client-img-text{
    background:#265BC5;
    color: #f8f8f8;
    max-width: 205px;
    padding: 8px 28px 13px 15px;
    bottom: -20px;
    right: 20px;
}
.client-image-person img, .client-img{
    width: 302px;
}
.client-image-person{
    overflow: hidden;
}
.client-image-person img{
    transition: 1.5s
}
.client-image-person img:hover{
    transform: scale(1.2);
    cursor: pointer;

}
.client-img-text .client-text-name{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}
.client-img-text .client-text-add{
    font-size: 12px;
    margin: 0;
}
.client-text-des{
    padding-right: 70px;
}
.client-ellip{
    padding-left: 75px;
    padding-top: 50px;
    align-items: center;
}
.ellip-borde img{
    width: 100%;
}
.client-ellip .icon-ellip-child{
    margin-left: 10px;
    margin-top: 4px;
}
.ellip-border .icon-ellip{
    top: 9px;
    left: 3px;
}
.contain-company, .contain-client{
    padding: 123px 0 110px;
}
.row-client{
    padding-left: 73px;
}
/* Ozone Group */
.list-groupitem{
    display:flex;
}
.list-groupitem img{
    width: 203px;
    height:73px;
}
.contain-group{
    padding: 0 0 27px;
}
/* Ozone Contact */
.ozone-contact{
    /* background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../img/service-bg.jpg); */
    background-image:url(../img/service-bg.jpg) ;
    background-size:cover;
    background-position: bottom;
}
.contain-contact-fluid{
    background-color: #265BC5;
    opacity: 0.9;
}
/* Ozone Footer */
.footer-list-menu li::marker{
    color: #EE1F23;
}
.footer-list-menu li{
    font-size: 14px;
    font-weight: 500;
}
.footer-map-title{
    top:7px;
    left:0;
}
.footer-list-title{
    font-size:20px;
    color: #265BC5;
    font-weight: bold; 
    margin-left: 12px;
}
.footer-icon{
    padding: 20px 0;
}
.col-about-foot{
    padding-right: 20px;
}
.col-nav-foot{
    padding-left: 80px;
}
.input-group a{
    text-decoration:none;
    background-color:#EE1F23;
    color:#fff;
    font-size:20px;
    padding: 14px 18px;
    line-height:1;
}
.input-group .form-control{
    border-radius: unset;
}
.form-control:focus{
    box-shadow: none;
}






.group-button a{
    text-decoration:none;
    background-color:#EE1F23;
    color:#fff;
    padding: 14px 51px;
    font-size: 16px;
    line-height:1.2;
    box-shadow: inset 0 0 0 0 #000;
    transition: ease-out 0.5s;
}
.group-button {
    margin-top: 20px;
    width: 227px;
    height: 48px;
    display: flex;
}
.group-button div{
    background-color: #f8f8f8;
    padding: 12px 16px;
    font-size: 16px;

}
.group-button a:hover{
    box-shadow: inset 200px 0 0 0 #000;
    color: #fff;
    cursor: pointer;
}
.about-image-person{
    overflow: hidden;
}
.about-image-person img{
    transition:0.7s;
}
.about-image-person img:hover{
    cursor: pointer;
    transform: scale(1.1);
}

/* Slick Slider */
.slick-dots{
    text-align:unset;
    padding-left: 65px;
    bottom:-40px;
}
.slick-dots li{
    margin:0;
}
.slick-dots li button:before{
    width: 16px;
    height: 16px;
    line-height: 16px;
}
.slick-dots li.slick-active button:before{
    opacity: 1;
    color: #EE1F23;
    border: 0.5px solid #265BC5;
    border-radius: 50%;
    font-size: 10px;
}